.donation-content {
    padding: 16px;
    --background: var(--ion-color-light);
  
    .donation-segment {
      margin: 16px 0;
    }
  
    .donation-section {
      background: whitesmoke;
      border-radius: 8px;
      padding: 16px;
      margin-bottom: 20px;
    }
  
  
    ion-button {
      margin-top: 1rem;
      --border-radius: 12px;
    }
  
    ion-item {
      margin-bottom: 16px;
    }
  }
  

  ion-card {
		border-radius: 13px; 
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
		margin: 20px; 
		overflow: hidden; 
		padding: 0;
		margin-top: 30px;
	}

ion-button {
  width: 100%; 
  height: 45px; 
  --border-radius: 18px !important; 
  font-size: 16px; 
  font-weight: 900;
  text-transform: lowercase; 
  color: white; 
  --background: #e29824; 
  --color: white; 
  margin-top: 8px;
  display: flex !important; 
  justify-content: center !important; 
  align-items: center !important;
  --box-shadow: none;
  --ion-button-shadow: none;
}

ion-button span::first-letter {
  text-transform: uppercase; 
}
ion-button:hover {
  --background: #652e89; 
  color: white; 
  font-weight: 700 !important;
}


ion-button[expand="full"] {
  --border-radius: 10px;        
  width: 100%;                 
}

ion-button[expand="full"]::part(native) {
  border-radius: 10px;          
}

ion-label {
  font-size: 15px;
}

ion-label[position="stacked"] {
  font-size: 21px;
		font-weight: 600;
		color: black;
		font-family: "Gilroy";
		margin-bottom: 15px;
}


.label {
  font-size: 16px !important;              
  font-family: "Gilroy";
}


ion-label.ack[position="stacked"] {
  font-size: 16px;
		font-weight: 600;
		color: black;
		font-family: "Gilroy";
		margin-bottom: 15px;
    margin-left: 15px;
}

.radio-row {
  display: flex;
  gap: 0;                  
  align-items: center;
}

.radio-row ion-item {
  flex: 1;
  padding: 0;             
  margin: 5px;               
}

.radio-row ion-label {
  margin: 0;               
  padding: 0;              
  font-size: 15px;
  font-family: "Gilroy";
  color: #949292;
}


.title {
  font-weight: 900 !important;
}


.donate {
  text-align: justify;
}